<h1>Lista de Tarefas</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>
        <a class="btn btn-info" [routerLink]="['/tasks', task.id]">
          <i class="fa fa-info-circle"></i>
          Detalhes
        </a>
        <button class="btn btn-danger">
          <i class="fa fa-trash"></i>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>