<h1>Lista de Tarefas</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <input type="text" class="form-control" placeholder="Digite aqui uma nova tarefa" [(ngModel)]="newTask.title">
      </div>
      <div class="col-2">
        <button class="btn btn-success" (click)="createTask()" >Adicionar tarefa</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>
        <a class="btn btn-info" [routerLink]="['/tasks', task.id]">
          <i class="fa fa-info-circle"></i>
          Detalhes
        </a>
        <button class="btn btn-danger" (click)="deleteTask(task)" >
          <i class="fa fa-trash"></i>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>